<h1>Add a new album</h1>

<form action="/albums" method="post">
  <div class="form-group">
    <label for="album_name">Album name</label>
    <input id="n" name="album_name" class="form-control" type="text">

    <label for="artist">Edit artist</label>
    <input id="artist" name="artist" type="text">
    <label for="genre">Edit genre</label>
    <input id="genre" name="genre" type="text">
    <label for="year">Edit year</label>
    <input id="year" name="year" type="text">

  </div>
  <button type="submit" class="btn">Go!</button>
</form>
